.homepage {
  margin-left: 7vw;
}

.heading {
  font-weight: bolder;
}

.heading-below {
  margin-top: -5px;
  text-align: left;
}

.dropbtn {
  background-color: #FFFFFF;
  border: none;
  width: 18vw;
  border-radius: 20px;
  padding: 5px 15px;
}

.heading-icons {
  /* width: 10vw; */
  display: flex;
  justify-content: left;
  /* gap: -4vw; */
}

.heading-icons img{
  margin-left: -42px;
}

.heading-icons img:hover{
  opacity: 0.6;
}