.homepage {
  margin-left: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-weight: bolder;
}

.heading:hover {
  cursor: pointer;
}

.heading-below {
  margin-top: -5px;
  text-align: left;
}

.dropbtn {
  background-color: #FFFFFF;
  border: none;
  width: 18vw;
  border-radius: 20px;
  padding: 5px 15px;
  margin-top: -10px;
  cursor: pointer;
}

.dropbtn:hover {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  width: 18vw;
  margin-top: 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 5px 18px;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid #F9FAFF;
}

.dropdown-content a:hover {
  color: #1D4ED8;
  background-color: #EDF2FF;
}

.dropdown-content a:nth-last-child() {
  border-bottom: none;
}

.category-number {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #F9FAFF;
  border-radius: 12px;
  font-size: 0.6rem;
}

.category-number:hover {
  background-color: #D1DDFF;
}

.heading-icons {
  display: flex;
  justify-content: left;
  margin-right: -10vw;
}

.heading-icons img{
  margin-left: -42px;
}

.heading-icons img:hover{
  opacity: 0.6;
}

.videobtn {
  align-items: center;
  background-color: #1D5ECD;
  border: none;
  width: 18vw;
  height: 40px;
  border-radius: 10px;
  padding: 5px 15px;
  color: #FFFFFF;
  margin-right: 4vw;
  margin-top: -10px;
}

.videobtn img{
  border-left: 1px solid #F9FAFF;
  margin-right: -5px;
}

.videobtn:hover {
  opacity: 0.6;
}
