* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  margin: 0;
  background-color: #F9FAFF;
}

/* UTILITY */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

align-center {
  display: flex;
  align-items: center;
}

.blue  {
  color: #1D4ED8;
}

.medium-text {
  font-size: 0.7rem;
}
