.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  padding: 0 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin: 10px 0;
  color: #0b0b0b;
  cursor: pointer;
}

.navbar ul li:nth-last-child(2) {
  margin-top: 40px;
}

.navbar ul li img {
  width: 35px;
}

.navbar ul li:hover {
  opacity: 0.6;
}

.profile-pic {
  width: 40px;
  border-radius: 50%;
}
