.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #FFFFFF;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin: 10px 0;
  color: #0B0B0B;
  cursor: pointer;
}

.navbar ul li:hover {
  opacity: 0.6;
}

.profile-pic {
  width: 40px;
  border-radius: 50%;
}