.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #FFFFFF;
  padding: 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin: 10px 0;
  color: #0B0B0B;
  cursor: pointer;
}
